extends ../layout

block content

  .container
    .row
      .col-xs-12.col-md-5
        a.thumbnail.bike-details(href='#')
          img.media-object.img-responsive(style='background-image: url(#{bike.image})')
        table.table
          thead
            tr
              th Frame
              th
          tbody
            tr
              td Frame
              td #{ bike.details[0].frame.frame }
            tr
              td Fork
              td #{ bike.details[0].frame.fork }
        table.table
          thead
            tr
              th Wheels
              th
          tbody
            tr
              td Front hub
              td #{ bike.details[0].wheels.frontHub }
            tr
              td Rear hub
              td #{ bike.details[0].wheels.rearHub }
            tr
              td Covers
              td #{ bike.details[0].wheels.covers }
            tr
              td Tires
              td #{ bike.details[0].wheels.tires }
        table.table
          thead
            tr
              th Drive
              th
          tbody
            tr
              td Front shift
              td #{ bike.details[0].drive.frontShift }
            tr
              td Rear shift
              td #{ bike.details[0].drive.rearShift }
            tr
              td Front brake
              td #{ bike.details[0].drive.frontBrake }
            tr
              td Rear brake
              td #{ bike.details[0].drive.rearBrake }
            tr
              td Brake levers
              td #{ bike.details[0].drive.brakeLevers }
            tr
              td Handles
              td #{ bike.details[0].drive.handles }
            tr
              td Plate
              td #{ bike.details[0].drive.plate }
            tr
              td Chain
              td #{ bike.details[0].drive.chain }
            tr
              td Casette / Pinon
              td #{ bike.details[0].drive.casette }
        table.table
          thead
            tr
              th Components
              th
          tbody
            tr
              td Handlebar
              td #{ bike.details[0].components.handlebar }
            tr
              td Power
              td #{ bike.details[0].components.power }
            tr
              td Seat post
              td #{ bike.details[0].components.seatPost }
            tr
              td Direction
              td #{ bike.details[0].components.direction }
            tr
              td Seat belt
              td #{ bike.details[0].components.seatBetl }
            tr
              td Fists
              td #{ bike.details[0].components.fists }
      .col-xs-12.col-md-7
        h2.h2.inline-block #{ bike.title }
        .searcher
          .flex-container.search-details.searcherbar
            form.navbar-form(role='search')
              .form-group
                p.inline-block Pick-Up
                input.form-control(type='date', placeholder='21/08/17  9:00')
              .form-group
                p.inline-block Drop-Off
                input.form-control(type='date', placeholder='21/08/17  19:00')
                a(href='search-result.html')
                  span.glyphicon.glyphicon-search(aria-hidden='true')
        .inline-block
          p.inline-block Size:
          select
            option(value='', selected='', disabled='') ...
            option 50 / XS
            option 53 / S
            option 56 / M
            option 58 / L
            option 60 / XL
          p.inline-block Pedals:
          select
            option(value='', selected='', disabled='') ...
            option Own pedals
            option
              | Shimano SPD 
              strong 1€/day
            option
              | Shimano SPL 
              strong 1€/day
            option
              | Look Kio 
              strong 1€/day
        .inline-block.pull-right
          h3.h3-price-search 75€
        .checkbox
          label
            input(type='checkbox')
            | Insurance 
            strong 1€/day
        .add-button.text-center
          button.btn.btn-primary.btn-block(type='button') Add to card
