extends ../layout

block content

  .container
    div
      h2.h2.inline-block.page-title Catalogue
      .inline-block.pull-right
        p.inline-block.size Filter by
        input(id='road' type='checkbox', data-toggle='toggle', value='road', data-on='road', data-off='road')
        input(id='mountain' type='checkbox', data-toggle='toggle', value='mountain', data-on='mountain', data-off='mountain')
        input(id='trekking' type='checkbox', data-toggle='toggle', value='trekking', data-on='trekking', data-off='trekking')
        input(id='city' type='checkbox', data-toggle='toggle', value='city', data-on='city', data-off='city')
        input(id='e-bike' type='checkbox', data-toggle='toggle', value='e-bike', data-on='e-bike', data-off='e-bike')

      each category in Object.keys(categorizedBikes)
        legend.h3= category
        .row
          each bike in categorizedBikes[category]
            .col-sm-6.col-md-3
              .zoomIt.thumbnail
                figure.pull-left
                  a(href=`/bike-info/${bike.title}`)
                    img.media-object.img-rounded.img-responsive(style='background-image: url(' + bike.image + ')')
                .caption
                  h4.h4 #{ bike.title }
                  p #{ bike.description }
                  a.btn.btn-default.info(href=`/bike-info/${bike.title}`, role='button') + info
